@{
    ViewData["Title"] = "Details about the event:";
}

<div class="details">
    <h3 style="text-decoration: underline;">@ViewData["Title"]</h3>
    <p style="text-align: center;">
        You’re Invited to a Pumpkin Carving Party <br>
        Saturday, October 24 1 – 4 PM <br>
        1313 Jack Lantern Drive, Spookytown <br>
        RSVP <a asp-area="" asp-controller="Home" asp-action="SignUp">Here</a>
        by Oct. 17 <br>
        Join us for a Halloween Pumpkin Carving Party! <br>
        We’ve Got the Pumpkins (and Refreshments, Too!) <br>
        It's be a fun time of stories, socializing and fun.
    </p>
</div>
