@{
    ViewData["Title"] = "Home Page";
}

<div class="gallerybody">
    <h4 style="font-weight: bold">@ViewData["Title"]</h4>
    <p>Photos from setting up the party! You won't want to miss it!</p>
    <div>
        <div class="photos">
            <img style="border-radius: 5%" src="/images/hollo1.jpg" alt="Table with various halloween deserts" width="150"
                height="113">
            <h5 style="text-align: center">Halloween treats</h5>
            <p style="text-align: center">We have quite a few treats for you when you stop by. We have cake, cookies,
                and more.</p>
        </div>
        <div class="photos">
            <img style="border-radius: 5%" src="/images/hollo2.jpg" alt="Children carving out pumpkins" width="150"
                height="113">
            <h5 style="text-align: center">Kids carving Pumpkins</h5>
            <p style="text-align: center">We've bought many pumpkins for everyone to carve and decorate.
                The kids have already started carving some.</p>
        </div>
    </div>
    <div>
        <div class="photos">
            <img style="border-radius: 5%" src="/images/hollo3.jpg" alt="Plate with halloween cupcakes" width="150"
                height="113">
            <h5 style="text-align: center">Cupcakes!</h5>
            <p style="text-align: center">Make sure to take some cupcakes with you when you stop by. Each has a unique
                design.</p>
        </div>
        <div class="photos">
            <img style="border-radius: 5%;" src="/images/hollo5.jpg" alt="Hallowen party setup" width="150"
                height="113">
            <h5 style="text-align: center">So many goodies</h5>
            <p style="text-align: center">We really want the scene to match the atmosphere. We've bought balloons,
                candles, buckets, and more</p>
        </div>
    </div>
</div>