@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="homebody">
        <h1>We're going to have an exciting party!</h1>
        <h4>And YOU are invited!</h4>
        <button type="submit" class="btn btn-primary" id="Rsvpbutton" ><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="SignUp">RSVP</a>
            </button>
    </div>
</div>
