@model Example.Models.GuestResponse
@{
    ViewData["Title"] = "RSVP";
}

<div id="rsvpbody">
    <h3 id="rsvpheader">@ViewData["Title"]</h3>
    <form id="RsvpForm" asp-action="SignUp" method="post">
        <div asp-validation-summary="All"></div>
        <label class="rsvplabel" asp-for="Name">Your Name:</label>
        <input type="text" id="name" class="form-control" asp-for="Name"><br>
        <label class="rsvplabel" asp-for="Age">Your age:</label>
        <input type="text" id="age" class="form-control" asp-for="Age"><br>
        <label class="rsvplabel" asp-for="Time">Arrival Time:</label>
        <input type="text" id="time" class="form-control" asp-for="Time" placeholder="--:-- --"><br>
        <label class="rsvplabel">Request Parking?</label><br>
        <select asp-for="Parking" class="form-select">
            <option value=""></option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br>
        <input id="buttoninfo" type="submit" class="btn btn-primary" value="Submit RSVP">
    </form>
</div>
