@model Example.Models.GuestResponse

<h1>Thank you, @Model.Name!</h1>
    <p>
        It's great that your're coming. <br>
        The drinks are already in the fridge! <br>
        Click <a asp-area="" asp-action="ListResponses" method="get">Here</a> to
        see who is coming.
    </p>
